:root {
    --bg-darker: rgb(32, 31, 31);
    --bg-dark-mid: rgb(45, 44, 44);
    --bg-dark: rgb(36, 36, 36);
    --txt-dark: rgb(179, 176, 173);
    --bord: solid 1px black;
}

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    color: var(--txt-dark);
    font-family: 'Noto Sans JP';
    font-size: 0.9rem;
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    background-color: var(--bg-darker);
}

/* Backgrounds side */
.bg-settings {
    border-left: solid 1px grey;
}

.bg-settings-header {
    display: flex;
    border-bottom: var(--bord);
    align-items: center;
    justify-content: space-between;
}

.bg-settings-header > p {
    display: inline-block;
    padding: 20px 10px;
}

.bg-text {
    color: white;
}

.container-camera  .material-symbols-outlined {
    padding-right: 20px;
    cursor: pointer;
}

.close {
    margin-right: 5px;
}

.bgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 0 0 0;
}

.bgs > img {
    margin: 10px;
    border-radius: 4px;
}

.bgs > img:hover {
    cursor: pointer;
}

.scrollable-section {
    height: 78%;
    overflow-y: scroll;
}

.scrollable-section::-webkit-scrollbar {
    background-color: var(--bg-darker);
    width: 7px;
}

.scrollable-section::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
    width: 2px;
}

/* Left side */
.options {
    display: flex;
    flex-direction: column;
    flex: 3.5;
}

.options-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 40px 0;
}

.instruction {
    margin-bottom: 10px;
}

.name {
    background-color: var(--bg-dark-mid);
    outline: none;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 350px;
    color: white;
    text-align: center;
}

.options-middle {
    display: flex;
    justify-content: space-around
}

.container-camera {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: var(--bord);
    border-radius: 4px;
    width: 450px;
}

.camera {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-dark);
    height: 100%;
}

.options-camera {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: var(--bg-dark-mid);
    border-top: var(--bord);
    border-radius: 4px;
    height: 40px;
}

.background-replace::before {
    display: inline-block;
    margin: 0 10px 0 10px;
    content:'';
    height: 30px;
    width: 1px;
    background-color: var(--bg-darker);
}

.settings {
    margin-left: auto;
}

.switch {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 40px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-dark);
    border: solid 1px gray;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    top: 2px;
    background-color: var(--bg-darker);
    -webkit-transition: .4s;
    transition: .4s;
    border: solid 1px gray;
  }
  
  input:checked + .slider {
    background-color: rgb(128, 83, 233);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px grey;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

/* Right side */
.settings-menu {
    background-color: var(--bg-darker);
    height: auto;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pc-container {
    border: var(--bord);
    margin-bottom: 10px;
}

.pc,
.phone,
.mute {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--bg-dark-mid);
}

.pc {
    border-bottom: var(--bord);
}

.pc-settings {
    background-color: var(--bg-dark);
}

.pc-settings-top,
.pc-settings-bottom {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.pc-settings-bottom .switch {
    padding-right: auto;
}

.phone {
    border: var(--bord);
    margin-bottom: 10px;
}

.mute {
    border: var(--bord);
}

.audio .material-symbols-outlined {
    padding-right: 15px;
}

.radio,
.page-info {
    margin-left: auto;
}
 
hr {
    margin: 0 30px;
    border: solid 1px var(--bg-dark-mid);
}

.volume-up {
    margin-left: 20px;
}

.control {
    width: 250px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 0 0 ;
}

.buttons div {
    display: inline-block;   
    color: white;
}

.buttons div:hover {
    cursor: pointer;
}

.cancel-button {
    padding: 5px 15px;
    border: solid 1px gray;
    border-radius: 3px;
}

.join-button {
    padding: 5px 15px;
    margin-left: 10px;
    background-color: rgb(128, 83, 233);
    border: solid 1px rgb(128, 83, 233);
    border-radius: 3px;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 0 0 20px 30px;
}

footer span {
    color: rgb(128, 83, 233);
}

footer span:hover {
    cursor: pointer;
}



